@import "tailwindcss";

:root {
    --background-primary: #141414;
    --background-secondary: #1d1d1d;
    --foreground: #ffffff;
    --accent: #ffeb80;
}

@theme inline {
    --color-background-primary: var(--background-primary);
    --color-background-secondary: var(--background-secondary);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --font-outfit: var(--font-outfit);
}

/* TODO: need to configure for darkmode on phase 2 */

@media (prefers-color-scheme: dark) {
    :root {
        --background-primary: #141414;
        --background-secondary: #1d1d1d;
        --foreground: #ffffff;
        --accent: #ffeb80;
    }
}

body {
    background: var(--color-background-primary);
    color: var(--foreground);
    font-family: var(--font-outfit);
}
